#background {
    margin:auto auto;
    background-size: cover;
    position:relative;
    width:100%;
    height:300px;
}
#billboard {
    margin:0px;
    padding:0px;
    left:0;
    top:0;
    width:100%;
    height:200px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position:absolute;
    transform: perspective(1600px) rotateY( 0deg);
    background-color: rgba(0,0,0,0.75);
}
.slat {
    background-size: cover;
    width:100px;
    height:100%;
    position:absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition-property: all;
    transition-duration: 1.5s;
    border: rgba(0,0,0,0.4) solid 1.5px;
    /*box-shadow: #333 0px 0px 8px;*/
}

#connect {
    z-index: 100;
    position:absolute;
    right:1em;
    top:1em;
}

#password-entry {
    padding:1em;
    text-shadow:#FFF 0px 0px 3px;
    background: #63a6e9;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px 20px;
    border-radius: 0.3em;
}

#set-list {
    z-index: 100;
    position:absolute;
    top:3em;
    right:1em;
}

#set-info {
    z-index: 100;
    position:absolute;
    top:1em;
    left:1em;
}

.image-in-set {
    margin:10px;
    width:100px;
    height:50px;
    background-size:contain;
    position:relative;
    box-shadow: #333 0px 0px 5px;
}

.image-in-set .remove {
    position: absolute;
    right: 0px;
    color: #EEE;
    cursor:pointer;
    padding: 5px;
    text-shadow: #000 0px 0px 3px;
    font-weight: bold;
    font-size:120%;
    top: 8px;
}
.image-in-set .remove:hover {
    color: #FFF;
}
